@model IEnumerable<Team>


<!-- Display all players button -->
<a class="btn btn-block btn-info"
   asp-action="Index"
   asp-controller="Home"
   asp-route-teamid=""
   asp-route-teamname="All Players"
   asp-route-pagenum="1">All Players</a>

<!-- Loop to display each team with assocated attributes -->

@foreach (var x in Model)
{
    <a class="btn btn-block @(x.TeamName == ViewBag.SelectedTeam ? "btn-primary" : "btn-outline-secondary")"
       asp-action="Index"
       asp-controller="Home"
       asp-route-teamid="@x.TeamId"
       asp-route-teamname="@x.TeamName"
       asp-route-pagenum="1">@x.TeamName</a>
}